---
layout: default
---

{% include site-header.html %}

<main class="main  container">


  <div class="content">

    <article class="article  article--page  typeset">

  <h1>The Opelex Podcast</h1>

	<p>The Opelex Podcast explores the exciting world of power electronics - latest news, cutting edge research, career options and education pathways, open source projects and much more! Episodes are published monthly, with a new guest each time. </p>


<p>You can listen using the streaming players below, or subscribe on Apple Podcasts, Android, Google Podcasts, Spotify, Stitcher, etc.</p>


<p>If you have any questions or comments, please contact us via twitter:@opelexnet
Thanks for listening!</p>

	<hr>


      {% if paginator.posts %}
        {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
        <h1>{{ collectiondata.title }}</h1>
        {{ collectiondata.description | markdownify }}

      {% else %}
        <h1>{{ page.title }}</h1>
        {{ content }}
        
      {% endif %}

    </article>

    {% include post-list.html %}

  </div>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
